mixin image()
    section.cards#image
        .container 
            h2.cards-title Every tool you could want to edit 
                span images 
                | in bulk 
            p.cards-text Your online photo editor is here and forever free!
            .cards__container
                a(href="#").cards__card
                    img(src="@img/intro/imgtopdf.png", alt="")
                    h4.cards__card-title Img to Pdf
                    p.cards__card-text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde, accusantium.
                a(href="#").cards__card
                    img(src="@img/intro/imgtopdf.png", alt="")
                    h4.cards__card-title Img to Pdf
                    p.cards__card-text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde, accusantium.
                a(href="#").cards__card
                    img(src="@img/intro/imgtopdf.png", alt="")
                    h4.cards__card-title Img to Pdf
                    p.cards__card-text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde, accusantium.
                a(href="#").cards__card
                    img(src="@img/intro/imgtopdf.png", alt="")
                    h4.cards__card-title Img to Pdf
                    p.cards__card-text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde, accusantium.
                a(href="#").cards__card
                    img(src="@img/intro/imgtopdf.png", alt="")
                    h4.cards__card-title Img to Pdf
                    p.cards__card-text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde, accusantium.
                a(href="#").cards__card
                    img(src="@img/intro/imgtopdf.png", alt="")
                    h4.cards__card-title Img to Pdf
                    p.cards__card-text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde, accusantium.
                a(href="#").cards__card
                    img(src="@img/intro/imgtopdf.png", alt="")
                    h4.cards__card-title Img to Pdf
                    p.cards__card-text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde, accusantium.
                a(href="#").cards__card
                    img(src="@img/intro/imgtopdf.png", alt="")
                    h4.cards__card-title Img to Pdf
                    p.cards__card-text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde, accusantium.
                a(href="#").cards__card
                    img(src="@img/intro/imgtopdf.png", alt="")
                    h4.cards__card-title Img to Pdf
                    p.cards__card-text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde, accusantium.