mixin pdf()
    section.cards#pdf
        .container 
            h2.cards-title Every tool you need to work with 
                span PDFs 
                | in one place
            p.cards-text Every tool you need to use PDFs, at your fingertips. All are 100% FREE and easy to use! Merge, split, compress, convert, rotate, unlock and watermark PDFs with just a few clicks.
            .cards__container
                a(href="#").cards__card
                    img(src="@img/intro/imgtopdf.png", alt="")
                    h4.cards__card-title Img to Pdf
                    p.cards__card-text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde, accusantium.
                a(href="#").cards__card
                    img(src="@img/intro/imgtopdf.png", alt="")
                    h4.cards__card-title Img to Pdf
                    p.cards__card-text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde, accusantium.
                a(href="#").cards__card
                    img(src="@img/intro/imgtopdf.png", alt="")
                    h4.cards__card-title Img to Pdf
                    p.cards__card-text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde, accusantium.
                a(href="#").cards__card
                    img(src="@img/intro/imgtopdf.png", alt="")
                    h4.cards__card-title Img to Pdf
                    p.cards__card-text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde, accusantium.
                a(href="#").cards__card
                    img(src="@img/intro/imgtopdf.png", alt="")
                    h4.cards__card-title Img to Pdf
                    p.cards__card-text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde, accusantium.
                a(href="#").cards__card
                    img(src="@img/intro/imgtopdf.png", alt="")
                    h4.cards__card-title Img to Pdf
                    p.cards__card-text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde, accusantium.
                a(href="#").cards__card
                    img(src="@img/intro/imgtopdf.png", alt="")
                    h4.cards__card-title Img to Pdf
                    p.cards__card-text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde, accusantium.
                a(href="#").cards__card
                    img(src="@img/intro/imgtopdf.png", alt="")
                    h4.cards__card-title Img to Pdf
                    p.cards__card-text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde, accusantium.
                a(href="#").cards__card
                    img(src="@img/intro/imgtopdf.png", alt="")
                    h4.cards__card-title Img to Pdf
                    p.cards__card-text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde, accusantium.