.intro{
    position: relative;
    &-bg{
        width: 100%;
        height: 100%;
        position: absolute;
        .toning{
            width: 100%;
            height: 100%;
            position: relative;
            background-color: black;
            opacity: .7;
        }
        img{
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .container{
        position: relative;
        padding: 150px 15px 100px;
    }
    .swiper{
        overflow: visible;
        height: 100%;
        &-slide{
            opacity: 0 !important;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;
            padding: 0 150px 0 0;
            img{
                width: 300px;
            }
            &-active{
                opacity: 1 !important;
            }
        }
        &-button{
            &-next{
                background-color: white;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                &::after{
                    font-size: 14px;
                    font-weight: bold;
                    color: black;
                    position: relative;
                    left: 2px;
                }
            }
        }
    }
    &-inner{
        width: calc(100% - 300px);
    }
    &-title{
        font-style: normal;
        font-weight: 700;
        font-size: 57px;
        line-height: 70px;
        text-transform: uppercase;
        color: #F9FAFB;
        margin-bottom: 15px;
        max-width: 90%;
    }
    &-text{
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 25px;
        color: #D2D5DA;
        max-width: 80%;
        margin-bottom: 30px;
    }
    &-btn{
        padding: 10px 20px;
        background-color: white;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 500;
    }
}