mixin header()
    header.header 
        .container
            a(href="#").header-logo LOGO
            ul.header__nav 
                li 
                    a(href="#") Features
                li 
                    a(href="#pdf") Work with PDF 
                li 
                    a(href="#img") Work with images
                li 
                    a(href="#video") Work with video 
                li 
                    a(href="#about") About us 
                li 
                    a(href="#footer") Contacts 