mixin header()
    header.header 
        .container
            a(href="#").header-logo LOGO
            ul.header__nav 
                li 
                    a(href="#") MENU 
                li 
                    a(href="#") MENU 
                li 
                    a(href="#") MENU 
                li 
                    a(href="#") MENU 
                li 
                    a(href="#") MENU 