mixin header()
    header.header 
        .container
            a(href="#").header-logo 
                img(src="@img/logo.svg", alt="" draggable="false")
            ul.header__nav 
                li 
                    a(href="#") Features
                li 
                    a(href="#image") Work with images
                li 
                    a(href="#about") About us 
                li 
                    a(href="#contacts") Contacts 