mixin intro() 
    section.intro
        .intro-bg 
        .container
            .swiper.intro-swiper 
                .swiper-wrapper 
                    .swiper-slide
                        .intro-inner
                            h1.intro-title IMG to PDF 
                            p.intro-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro necessitatibus molestiae, rerum quis voluptates aliquid quae voluptate ipsam, quos corporis neque id eos architecto accusamus velit? Labore unde dignissimos sit?
                            a(href="#").intro-btn перейти 
                        img(src="@img/intro/imgtopdf.png", alt="" draggable="false")
                    .swiper-slide 
                        .intro-inner
                            h1.intro-title IMG to PDF 
                            p.intro-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, neque delectus. Recusandae explicabo modi maxime rerum quibusdam, quaerat vitae! Ducimus dignissimos at possimus sint quod.
                            a(href="#").intro-btn перейти 
                        img(src="@img/intro/imgtopdf.png", alt="" draggable="false")
                    .swiper-slide 
                        .intro-inner
                            h1.intro-title IMG to PDF 
                            p.intro-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro necessitatibus molestiae, rerum quis voluptates aliquid quae voluptate ipsam, quos corporis neque id eos architecto accusamus velit? Labore unde dignissimos sit?
                            a(href="#").intro-btn перейти 
                        img(src="@img/intro/imgtopdf.png", alt="" draggable="false")
                .swiper-button-next
