mixin intro() 
    .intro
        .intro-bg 
            img(src="@img/bg.jpg" alt="" draggable="false")
            .toning
        .container
            .swiper.intro-swiper 
                .swiper-wrapper 
                    .swiper-slide
                        .intro-inner
                            h1.intro-title Work with PDF 
                            p.intro-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro necessitatibus molestiae, rerum quis voluptates aliquid quae voluptate ipsam, quos corporis neque id eos architecto accusamus velit? Labore unde dignissimos sit?
                            a(href="#pdf").intro-btn перейти 
                        img(src="@img/intro/imgtopdf.png" alt="" draggable="false")
                    .swiper-slide 
                        .intro-inner
                            h1.intro-title Work with images
                            p.intro-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, neque delectus. Recusandae explicabo modi maxime rerum quibusdam, quaerat vitae! Ducimus dignissimos at possimus sint quod.
                            a(href="#img").intro-btn перейти 
                        img(src="@img/intro/imgtopdf.png" alt="" draggable="false")
                    .swiper-slide 
                        .intro-inner
                            h1.intro-title Work with video 
                            p.intro-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro necessitatibus molestiae, rerum quis voluptates aliquid quae voluptate ipsam, quos corporis neque id eos architecto accusamus velit? Labore unde dignissimos sit?
                            a(href="#video").intro-btn перейти 
                        img(src="@img/intro/imgtopdf.png" alt="" draggable="false")
                .swiper-button-next
